@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=BioRhyme:wght@400;700&display=swap');

:root{
    --primary-color: #1A533B;
    --secondary-color:#5c91a8;
    --accent1-color:#d2e7ff;
    --accent2-color:#3fc480;
    
    --heading-font:'bioRhyme', serif;
    --paragraph-font:'bioRhyme expands',serif;

    --nav-background-color:rgba(210, 245, 145, 0.7);
    --nav-link-color:rgb(6, 43, 146);
    --nav-hover-link-color:#000;
    --nav-hover-background-color:rgb(192, 232, 241);

}

h1,h2, nav{
    font-family: 'bioRhyme', cursive, sans-serif;
    color:#1A533B
}
p{
    font-family:'bioRhyme espands',monospace,sans-serif;
    font-weight: 600;
    color:var(--primary-color);
    
    
}
.hero{
    position:absolute;
    background-image: url("../images/river3.jpg");
    background-position: center center;
    background-size: cover;

    height: 850px;
    
}    
h1{
    position: relative;
    top:40px;
    text-align:center;
    background-color: rgba(223, 247, 210, 0.6);
    border:1px solid var(--accent1-color);
    border-radius: 25px;
    
    
} 

article img{
    float:right;
    margin-top: 30px;
    margin-right:20px;
    width:35%;
    border-radius: 25px;    
}

article{
    background-color:var(--accent1-color);
    opacity: .9;
    padding: 15px 15px;
    margin-top: 10%;
    margin-left:18%;
    margin-right: 20%;
    margin-bottom: 30%;
    border:1px solid  var(--accent1-color);
    background-color: rgba(223, 247, 210, 0.6);
    border-radius: 25px;

}
section{
    position: relative;
    top: 860px;
}
section p{
    width:100%;
}
footer{
    position: relative;
    top:850px;
}





